/* HERO SECTION (HOME) */
#home {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(13, 13, 13, 1)), url('img/fundo.jpg') no-repeat center center/cover;
    min-height: 90vh;
    display: flex;
    align-items: center;
    text-align: center;
}

.hero-content {
    max-width: 800px;
    margin: 0 auto;
}

.hero-content h1 {
    font-size: 3.5rem;
    font-weight: 800;
    margin-bottom: 20px;
    letter-spacing: -1px;
    text-transform: uppercase;
}

.hero-content p {
    font-size: 1.25rem;
    color: #aaaaaa;
    margin-bottom: 40px;
    font-weight: 300;
}
    .navbar .nav-link {
        color: #1F788C !important;
        transition: all 0.3s ease;
        border-radius: 8px;
        padding: 8px 12px;
    }

    .navbar .nav-link:hover {
        background-color: #9fb7b0;
        color: #ffffff !important;
    }

    .navbar-brand {
        transition: all 0.3s ease;
        border-radius: 8px;
        padding: 5px 10px;
    }

    .navbar-brand:hover {
        background-color: #9fb7b0;
        color: #ffffff !important;
    }

    .verde{
        border: #1F788C;
        border-color:#1F788C;
    }
